.add-new-dictionary-modal {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000205ad;
}

.add-new-dictionary-modal * {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 24px;
}

.add-new-dictionary-modal>.modal {
  min-width: 150px;
  width: fit-content;
  min-height: 150px;
  border-radius: 8px;
  background-color: #C8B6AE;
  padding: 15px;
  opacity: 0.8;
}

.add-new-dictionary-modal>.modal>.modal-close {
  display: flex;
  align-items: center;
  justify-content: end;
}

.add-new-dictionary-modal>.modal>.modal-close>.close-img {
  cursor:pointer;
}

.add-new-dictionary-modal>.modal>.modal-close>.close-img:active {
  transform: scale(0.9);
}

.add-new-dictionary-modal>.modal>.new-dictionary-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-new-dictionary-modal>.modal>.new-dictionary-form .title-text {
  padding: 2px 5px 5px 5px;
  border-radius: 8px;
  width: 100%;
}

.add-new-dictionary-modal>.modal>.new-dictionary-form .lang-code-select {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-new-dictionary-modal>.modal>.new-dictionary-form .add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new-dictionary-modal>.modal>.new-dictionary-form .add-button-container>.button {
  width: 100%;
  height: 2.1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

.add-new-dictionary-modal>.modal>.new-dictionary-form .add-button-container>.button:not([disabled]):hover {
  font-weight: 600;
}
.add-new-dictionary-modal>.modal>.new-dictionary-form .add-button-container>.button:not([disabled]):active {
  transform: scale(0.95);
}

.add-new-dictionary-modal>.modal>.new-dictionary-form .add-button-container>.cancel-button:not([disabled]):hover {
  color: red;
}

.add-new-dictionary-modal>.modal>.new-dictionary-form .add-button-container>.add-button:not([disabled]):hover {
  color: green;
}





