body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('http://localhost:4200/assets/images/profile_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
.dictionary_listing{
    display: flex;
    gap: 0.5rem;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.listen_d_item{
    background-color: rgba(217, 217, 217, 0.7);
    color: white;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: 22px;
    padding: 0.5rem  2rem  0.5rem  2rem;
    border-radius: 5px;
    font-weight: 600;
}
.listen_d_item:hover{
    background-color: #D9D9D9;
    transform: translateY(10%);
}
.dictionary_container{
    margin: 0 auto;
    margin-top: 2rem;
    width: 70vw;
    height: 30vw;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgba(217, 217, 217, 0.6);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #D9D9D9 rgba(217, 217, 217, 0.6); /* Scrollbar color and track color */
}
.dictionary_container::-webkit-scrollbar {
    width: 10px; /* Adjust the scrollbar width as needed */
}

/* Customize scrollbar thumb for WebKit */
.dictionary_container::-webkit-scrollbar-thumb {
    background-color: #D9D9D9; /* Thumb color */
    border-radius: 6px;
}
.listed_translate{
    display: flex;
    flex-direction: column;
    background-color: #C8B6AE;
    border: 2px solid black;
    width: 30%;
    height: 10rem;
    align-items: center;
}
