body {
  background-image: url('http://localhost:4200/assets/images/dictionaries_background_img.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dictionaries_container{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 12rem auto 0 25rem;
  gap: 2rem;
  justify-content: flex-start;
}
.dictionary{
  width: 30%;
  min-height: 8.5rem;
  background-color: rgba(217, 217, 217, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}
.dictionary:hover{
  transform: scale(1.05);
}
