body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('http://localhost:4200/assets/images/dictionaries_background_img.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.dictionaries_container{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
}
.dictionary{
  width: 25%;
  min-height: 8.5rem;
  background-color: rgba(217, 217, 217, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}
.dictionary:hover{
  transform: scale(1.05);
}
