<body>
  <div class="dictionaries_container">
    <div class="dictionary" (click)="redirectToDictionary('Dick1')">
      <h1>Dick</h1>
    </div>
    <div class="dictionary" (click)="redirectToDictionary('Dick2')">
      <h1>Dick</h1>
    </div>
    <div class="dictionary" (click)="redirectToDictionary('Dick3')">
      <h1>Dick</h1>
    </div>
    <div class="dictionary" (click)="redirectToDictionary('Dick4')">
      <h1>Dick</h1>
    </div>
    <div class="dictionary" (click)="redirectToDictionary('Dick5')">
      <h1>Dick</h1>
    </div>
  </div>
</body>