<nav *ngIf="isRootRoute()">
  <a routerLink="/profile/username">Go route /profile/{{'{'}}username{{'}'}}</a>
  <br/>
  <a routerLink="/dictionaries">Dictionaries</a>
</nav>

<div class="lingo_logo_div" *ngIf="!isRootRoute()">
  <img class="logo_img" src="assets/images/logo.png" alt="My Image">
  <h1 class="lingohub">LingoHub</h1>
  <img class="profile_top_img" src="assets/images/profile_img.png" (click)="redirectToProfile(currentUser?.name || '')">
</div>
<div class="side_menu" *ngIf="!isRootRoute()">
  <a class="menu_a" routerLinkActive="active" routerLink="/translator">Translator</a>
  <a class="menu_a" routerLinkActive="active" routerLink="/dictionaries">Dictionaries</a>
  <a class="menu_a" routerLinkActive="active" routerLink="/quiz">Quiz</a>
</div>
<div class="content-container">
  <router-outlet></router-outlet>
</div>


