
.lingo_menu_div{
    width: 100%;
    height: 20%;
    background-color: rgba(217, 217, 217, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}
.menu_b{
    color: white;
    text-decoration: none;
    font-size: 32px;
    padding: 1rem;
    margin: 1rem;
    font-weight: 800;
    transition-duration: 0.2s;
}
.menu_b:hover{
    transform: scale(0.9);
}
.login_form{
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    width: 30%;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.4);
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 5px;
}
.input_container{
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 0.5rem;
}
.input_login{
    color: white;
    font-size: 32px;
    font-weight: 800;
}
#email, #password, #conf_password, #username{
    background-color: rgba(217, 217, 217, 0.8);
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 22px;
    padding: 0.5rem;
}
.login_btn, .register_btn{
    background-color: rgba(217, 217, 217, 0.8);
    color: white;
    font-size: 32px;
    border-radius: 5px;
    border: none;
    width: 45%;
    cursor: pointer;
    transition-duration: 0.2s;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
}
.login_btn:hover, .register_btn:hover{
    transform: scale(0.9);
}
.change_between_l_r{
    color: white;
    padding: 1rem;
    font-size: 18px;
}
.lingo_logo_bottom {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    gap: 1rem;
}

.lingo_logo_bottom h1 {
    font-size: 52px;
}

.logo_img {
    max-width: 7rem;
    height: 5.5rem;
}


.start_container {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to bottom, transparent, #0D0D0D), url('http://localhost:4200/assets/images/main_background.png');
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start_con_el{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo_img1{
    width: 10rem;
    margin-top: -5rem;
}
.start_text_el h1{
    font-size: 80px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: white;
}
.start_text_el p{
    font-size: 22px;
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.links_reg_log{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.links_reg_log a{
    color: white;
    text-decoration: none;
    background-color: #C8745D;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.2s;
}
.links_reg_log a:hover{
    transform: scale(0.9);
}
.about_our_training{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: #0D0D0D;
    padding-bottom: 5rem;
}
.about_our_training h1{
    font-size: 64px;
    color: white;
}
.about_our_training h1 span{
    color: #C8745D;
}
.about_info_container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
}
.about_info_container ul{
    font-size: 32px;
    color: white;
    list-style: none;
}
.about_info_container ul li:before {
    content: "•";
    color: #C8745D;
    margin-right: 1rem;
    font-size: 46px;
}
.why_study_container {
    position: relative; /* Add this for positioning the pseudo-element */
    background-image:
            linear-gradient(to bottom, transparent 5%, #0D0D0D 90%),
            linear-gradient(to top, transparent 100%, #0D0D0D 90%),
            url('http://localhost:4200/assets/images/why_study_bc.png');
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why_study_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    filter: blur(2px);
}
.why_study_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.why_study_container h1{
    color: white;
    font-size: 52px;
    z-index: 1;
}
.why_study_container h1 span, .side_el h1 span{
    color: #C8745D;
}
.side_info{
    background-color: #0D0D0D;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem;
}
.side_el{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
.side_el h1,.side_el h3,.side_el p{
    margin: 0;
    padding-top: 0;
}
.side_el h3 {
    color: rgba(255, 255, 255, 0.6); /* White color with 60% opacity */
    font-weight: 100;
}
.reverse_side_el{
    margin-left: auto;
}
.hr1 {
    border: none; /* Remove the border */
    height: 1px; /* Set the height of the horizontal line */
    background: linear-gradient(to right, #0D0D0D, #C8745D, #0D0D0D); /* Linear gradient */
    margin: 0; /* Adjust the margin as needed */
}
.hr2 {
    border: none; /* Remove the border */
    height: 1px; /* Set the height of the horizontal line */
    background: linear-gradient(to right, #0D0D0D, #0D0D0D, #C8745D, #0D0D0D , #0D0D0D); /* Linear gradient */
    margin: 0; /* Adjust the margin as needed */
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background-color: #0D0D0D;
}
.contact_info{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.contact_info h1{
    margin: 0;
    margin-bottom: 3rem;
}
.contact_info h4{
    font-weight: 100;
    margin: 0;
}
.logo_img2{
    width: 5rem;
    margin-left: 1rem;
}
.footer_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 1rem;
}

.footer_ul li {
    list-style: none; /* Remove the list-style dots */
    font-size: 22px;
}
.social_links{
    display: flex;
    gap: 1rem;
}
.social_links img {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover; /* or object-fit: contain; depending on your preference */
}
.footer_p{
    color: #9A9A9A;
    display: flex;
    justify-content: center;
    background-color: #0D0D0D;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
}
