.success-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000205ad;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.success-container>.block {
  width: 200px;
  padding: 20px;
  border-radius: 8px;
  background-color: #C8B6AE;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.success-container>.block>.success-text {
  font: inherit;
  font-size: 24px;
  color: green;
}

.success-container>.block>.success-button {
  width: 100%;
  height: 2rem;
  border-radius: 8px;
  color: green;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: 24px;
}

.success-container>.block>.success-button:hover {
  font-weight: 600;
}

.success-container>.block>.success-button:active {
  transform: scale(0.9);
}
